<body style="background-image: url(img/fondoinicio.jpg); background-size: cover;">
<div class="grid-perfil">
    
    <h1 style="grid-row:1; grid-column:2; color:white;">Este es tu perfil {{usuario.0.nombre}}</h1>
 
    <h1 style="grid-row:2; grid-column:2; color:white;">Estadisticas del server</h1>
  
  <table class="table-dark" style="width:300px; grid-row:3;">
  <thead>
    <tr>
      <th scope="col">N° ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Riqueza</th>
      <th scope="col">Propiedades</th>
    </tr>
  </thead>
  <tbody>
    {{#each todos}}
   <tr>
      <th scope="row">{{@index}}</th>
      <td>{{this.nombre}}</td>
      <td>{{this.plata}}</td>
      <td>{{this.total}}</td>
    </tr>
  {{/each}}
  
  </tbody>
</table>

</div>




